/*ESTILO CONVERSEMOS*/

.titulo_conversemos {
    text-align: center; 
    width: 100%; 
    font-size: 35px; 
    color: #033e63; 
    margin-bottom: 3rem; 
    display: block; 
    padding-top: 50px;
}

.main_conversemos-picture{
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    padding-top: 100px;
}

.contact-section {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    flex-wrap: wrap; 
}

form {
    padding: 30px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 45%; 
    background-color: #fff; 
}

input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #abdecb;
    border: 1px solid #abdecb;
    color: #033e63;
    outline: none;
}

textarea {
    height: 120px; 
}

.contact-info {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 45%; 
    text-align: left; 
    padding-left: 20px; 
}

.info-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.info-item img {
    width: 40px;
    margin-right: 15px; 
}

.titulo-secundario {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px; 
    color: #033e63;
}

.descripcion {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #666;
}

.btn_contact {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #033e63;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_contact:hover {
    background-color: #005a85; 
}


.contact-info {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    width: 45%; 
    text-align: left; 
    padding-left: 20px; 
}

.info-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.info-item img {
    width: 40px; 
    margin-right: 15px; 
}

.titulo-secundario {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px; /* Separación del contenido anterior */
    color: #033e63;
}

.descripcion {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #666;
    padding-bottom: 50px;
}

.btn_contact {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #033e63;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_contact:hover {
    background-color: #005a85; /* Color más oscuro al pasar el mouse */
}

@media (max-width: 575.98px) {
    .titulo_conversemos {
        text-align: center;
        width: 100%;
        font-size: 28px; /* Reduce el tamaño de la fuente */
        color: #033e63;
        margin-bottom: 2rem; /* Reduce el espacio inferior */
        display: block;
        padding-top: 30px; /* Reduce el padding superior */
    }

    .main_conversemos-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 50px; /* Reduce el padding superior */
    }

    .contact-section {
        display: flex;
        flex-direction: column; /* Cambia a columna para mejor visualización en pantallas pequeñas */
        align-items: center;
        padding: 10px; /* Reduce el padding */
        margin: 0 auto;
        max-width: 100%; /* Ajusta el ancho máximo */
    }

    .titulo-secundario {
        text-align: center;
        font-size: 1.5rem; /* Reduce el tamaño de fuente */
        margin-top: 30px; /* Reduce el espacio superior */
        color: #033e63;
    }

    .descripcion {
        text-align: center;
        max-width: 100%;
        margin: 0 auto;
        font-size: 1rem; /* Reduce el tamaño de fuente */
        color: #666;
        padding-bottom: 30px; /* Reduce el padding inferior */
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .titulo_conversemos {
        text-align: center;
        width: 100%;
        font-size: 30px; /* Reduce ligeramente el tamaño de la fuente */
        color: #033e63;
        margin-bottom: 2.5rem; /* Reduce el espacio inferior */
        display: block;
        padding-top: 40px; /* Reduce el padding superior */
    }

    .main_conversemos-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 80px; /* Reduce el padding superior */
    }

    .contact-section {
        display: flex;
        flex-direction: column; /* Cambia a columna para una mejor visualización */
        align-items: center;
        padding: 15px; /* Reduce el padding */
        margin: 0 auto;
        max-width: 100%; /* Ajusta el ancho máximo */
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%; /* Ajusta el ancho */
        text-align: center; /* Centra el texto */
        padding-left: 0; /* Elimina el padding izquierdo */
    }

    .info-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px; /* Reduce el espacio inferior */
    }

    .info-item img {
        width: 35px; /* Reduce el tamaño de la imagen */
        margin-right: 10px; /* Reduce el margen derecho */
    }

    .titulo-secundario {
        text-align: center;
        font-size: 1.8rem; /* Reduce el tamaño de fuente */
        margin-top: 40px; /* Reduce el espacio superior */
        color: #033e63;
    }

    .descripcion {
        text-align: center;
        max-width: 90%; /* Reduce el ancho máximo */
        margin: 0 auto;
        font-size: 1.1rem; /* Reduce el tamaño de fuente */
        color: #666;
        padding-bottom: 40px; /* Reduce el padding inferior */
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .titulo_conversemos {
        text-align: center;
        width: 100%;
        font-size: 32px; /* Ajusta el tamaño de fuente */
        color: #033e63;
        margin-bottom: 2.5rem; /* Reduce el espacio inferior */
        display: block;
        padding-top: 40px; /* Reduce el padding superior */
    }

    .main_conversemos-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 80px; /* Ajusta el padding superior */
    }

    .contact-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        margin: 0 auto;
        max-width: 100%; /* Ajusta el ancho máximo */
        flex-wrap: wrap; /* Permite ajuste en pantallas medianas */
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 48%; /* Ajusta el ancho */
        text-align: left;
        padding-left: 10px; /* Reduce el padding izquierdo */
    }

    .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px; /* Ajusta el espacio inferior */
    }

    .info-item img {
        width: 35px; /* Ajusta el tamaño de la imagen */
        margin-right: 10px; /* Ajusta el margen derecho */
    }

    .titulo-secundario {
        text-align: center;
        font-size: 1.8rem; /* Reduce el tamaño de fuente */
        margin-top: 40px; /* Ajusta el espacio superior */
        color: #033e63;
    }

    .descripcion {
        text-align: center;
        max-width: 90%; /* Ajusta el ancho máximo */
        margin: 0 auto;
        font-size: 1.1rem; /* Ajusta el tamaño de fuente */
        color: #666;
        padding-bottom: 40px; /* Ajusta el padding inferior */
    }

    .btn_contact {
        width: 100%;
        padding: 12px; /* Ajusta el padding */
        font-size: 15px; /* Ajusta el tamaño de fuente */
        color: #fff;
        background-color: #033e63;
        border: 0;
        border-radius: 20px; /* Ajusta el radio de la esquina */
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn_contact:hover {
        background-color: #005a85; /* Color más oscuro al pasar el mouse */
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .titulo_conversemos {
        text-align: center;
        width: 100%;
        font-size: 32px; /* Ajusta el tamaño de fuente */
        color: #033e63;
        margin-bottom: 2.5rem; /* Reduce el espacio inferior */
        display: block;
        padding-top: 40px; /* Reduce el padding superior */
    }

    .main_conversemos-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 80px; /* Ajusta el padding superior */
    }

    .contact-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px;
        margin: 0 auto;
        max-width: 1000px; /* Ajusta el ancho máximo */
        flex-wrap: wrap; /* Permite ajuste en pantallas medianas */
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 48%; /* Ajusta el ancho */
        text-align: left;
        padding-left: 15px; /* Reduce el padding izquierdo */
    }

    .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px; /* Ajusta el espacio inferior */
    }

    .info-item img {
        width: 35px; /* Ajusta el tamaño de la imagen */
        margin-right: 10px; /* Ajusta el margen derecho */
    }

    .titulo-secundario {
        text-align: center;
        font-size: 1.8rem; /* Reduce el tamaño de fuente */
        margin-top: 40px; /* Ajusta el espacio superior */
        color: #033e63;
    }

    .descripcion {
        text-align: center;
        max-width: 90%; /* Ajusta el ancho máximo */
        margin: 0 auto;
        font-size: 1.1rem; /* Ajusta el tamaño de fuente */
        color: #666;
        padding-bottom: 40px; /* Ajusta el padding inferior */
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .titulo_conversemos {
        text-align: center;
        width: 100%;
        font-size: 34px; /* Ajuste de tamaño de fuente */
        color: #033e63;
        margin-bottom: 2.5rem; /* Espacio inferior */
        display: block;
        padding-top: 40px; /* Ajuste de padding superior */
    }

    .main_conversemos-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 80px; /* Ajuste de padding superior */
    }

    .contact-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 15px; /* Ajuste de padding */
        margin: 0 auto;
        max-width: 1100px; /* Ancho máximo */
        flex-wrap: wrap;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 48%; /* Ajuste de ancho */
        text-align: left;
        padding-left: 15px; /* Ajuste de padding */
    }

    .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 18px; /* Ajuste de espacio inferior */
    }

    .info-item img {
        width: 36px; /* Ajuste de tamaño de imagen */
        margin-right: 12px; /* Ajuste de margen derecho */
    }

    .titulo-secundario {
        text-align: center;
        font-size: 1.9rem; /* Ajuste de tamaño de fuente */
        margin-top: 40px; /* Espacio superior */
        color: #033e63;
    }

    .descripcion {
        text-align: cente
    }
}

@media (min-width: 1400px) {
    .titulo_conversemos {
        text-align: center;
        width: 100%;
        font-size: 35px;
        color: #033e63;
        margin-bottom: 3rem;
        display: block;
        padding-top: 50px;
    }

    .main_conversemos-picture {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding-top: 100px;
    }

    .contact-section {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        margin: 0 auto;
        max-width: 1200px;
        flex-wrap: wrap;
    }

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 45%;
        text-align: left;
        padding-left: 20px;
    }

    .info-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .info-item img {
        width: 40px;
        margin-right: 15px;
    }

    .titulo-secundario {
        text-align: center;
        font-size: 2rem;
        margin-top: 50px;
        color: #033e63;
    }

    .descripcion {
        text-align: center;
        max-width: 900px;
        margin: 0 auto;
        font-size: 1.2rem;
        color: #666;
        padding-bottom: 50px;
    }

    .btn_contact {
        width: 100%;
        padding: 15px;
        font-size: 16px;
        color: #fff;
        background-color: #033e63;
        border: 0;
        border-radius: 25px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .btn_contact:hover {
        background-color: #005a85;
    }
}

