// Estilos ISOLEGAL
.isolegal {
    .main-picture {
        img {
            width: 100%;
            height: auto;
            padding-bottom: 30px;
            max-width: 100%; 
            padding-top: 100px;
        }
    }

    .titulo {
        font-size: 3rem;
        margin-bottom: 20px;
        color: #033e63;
        text-align: center;
    }

    .subtitulo {
        font-size: 2rem;
        margin-bottom: 20px;
        color: #3e637e;
        text-align: center;
    }

    .texto {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #033e63;
        max-width: 1000px;
        margin: 0 auto 40px;
        text-align: justify;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 40px;
        max-width: 1200px;
        width: 100%;

        .picture-servicio {
            width: 50%;
            padding-bottom: 50px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .texto-columna {
            width: 50%;
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }
    }

    .btn {
        display: inline-block;
        padding: 15px 30px;
        font-size: 1.2rem;
        color: #fff;
        background-color: #033e63;
        border-radius: 30px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
        margin-top: 30px;
        align-self: center;

        &:hover {
            background-color: #005a85;
        }
    }
}
