/*ISOLEGAL*/

.main_isolegal-picture img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.isolegal_titulo {
    font-size: 3rem;
    margin-bottom: 20px;
    color:#033e63;
    text-align: center; 
}

.subtitulo_isolegal {
    font-size: 2rem;
    margin-bottom: 20px;
    color:#3e637e;
    text-align: center; 
}

.texto_isolegal {
    font-size: 1.2rem;
    line-height: 1.6;
    color:#033e63;
    margin-bottom: 40px;
    text-align: justify;
    max-width: 1000px;
    margin: 0 auto;
}

.main_isolegal-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 40px;
    max-width: 1200px; 
    width: 100%;
}

/* Imagen dentro de las dos columnas */
.main_isolegal-picture-servicio {
    width: 50%; 
    padding-bottom: 50px;
}

.main_isolegal-picture-servicio img {
    width: 100%; 
    height: auto;
}

/* Estilos para la columna de texto */
.main_isolegal-texto {
    width: 50%; 
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding-left: 20px; 
}

/* Estilos para el bot贸n */
.btn-isolegal {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #033e63;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 30px;
    align-self: center; /* Centra el bot贸n en relaci贸n al texto */
}

/* Efecto hover del bot贸n */
.btn-isolegal:hover {
    background-color: #005a85;
}

