/*estilos main*/
#main {
    width: 100%;
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    z-index: 10;
}

.main_banner{
    padding-top: 100px;
}

.main_banner img {
    width: 100%; /* Hace que la imagen se ajuste al 100% del ancho del contenedor */
    max-width: 100%; /* Evita que la imagen exceda el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
