/* ESTILOS NOSOTROS */
.contenedor_nosotros {
    max-width: 1200px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding-top: 110px;
    padding-left: 10px;
    padding-bottom: 50px;
    gap: 20px; 
    margin: 0 auto;
}

.texto_nosotros {
    width: 50%;
    text-align: justify;
}

.texto_nosotros-titulo {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#033e63;
    text-align: left;
}

.texto2 {
    font-size: 1.1rem;
    line-height: 1.6;
    color:#005a85;
}

.banner_nosotros img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.titulo_clientes {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.titulo_clientes h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color:#033e63;
}

.clientes {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#carouselExample {
    margin: 0 auto;
    width: 300px;
    height: 300px;
}

/* Controles del carrusel */
.carousel-control-prev,
.carousel-control-next {
    margin: auto 0;
    background-color: rgba(0, 0, 0, 0.5) ;
    border-radius: 50% ;
    width: 40px ; /* Reduzco el tamaño de los controles */
    height: 40px ; /* Reduzco el tamaño de los controles */
}

