/*PAULA ARRIAGADA ZETA marketing.isolegal@gmail.com*/


/*Estilo reset css*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration:none;
    box-sizing: border-box;
    color: #3e637e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #3e637e;
}

li {
    display: inline-block;
}
body {
    max-width: 2000px;
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0; /* Elimina cualquier relleno innecesario */
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
}



/*estilos navbar CSS*/
/*#header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 20;
    background: #fafafa10;
    backdrop-filter: blur(0.3rem);
}

#nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navBar__logo {
    width: 150px;
}

#nav-bar ul {
    display: flex;
    column-gap: 30px;
    font-weight: bold;
}*/


/*NAVBAR BOOTSTRAP*/
#header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 20;
}

.navbar-brand {
    padding-left: 80px;
}

.navbar-toggler {
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: #033e63;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color:#E33421;
}

.nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #E33421;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link:active::before {
    width: 100%;
    visibility: visible;
}

/*estilos main*/
#main {
    width: 100%;
    margin-top: 10px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    z-index: 10;
}

.main_banner{
    padding-top: 100px;
}

.main_banner img {
    width: 100%; /* Hace que la imagen se ajuste al 100% del ancho del contenedor */
    max-width: 100%; /* Evita que la imagen exceda el tamaño del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}

/*Estilo de contenido*/

.tituloprincipal {
    display: flex;
    align-items: center;
    justify-content:inherit;
    margin-bottom: 3rem;
}


.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 1300px;
    height: 200px;
    margin-bottom: 3rem;
    /*gap: 200px; espacio entre el contendio*/
}


.contenedor2 {
    display: flex; /* Coloca los elementos en una fila */
    justify-content: space-around; /* Crea espacio entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
    width: 100%; /* El contenedor ocupa todo el ancho */
    padding: 80px 0; /* Añade un padding superior e inferior */
}

.video_presentacion {
    flex: 1; /* Ambos elementos ocupan el mismo espacio */
    margin: 10px; /* Espacio alrededor de cada elemento */
    max-width: 560px; /* Limita el tamaño máximo del video */
    margin-left: 8rem;
}

.video_presentacion iframe {
    width: 100%; /* Asegura que el video use todo el ancho disponible */
    height: 315px; /* Mantiene la altura fija */
    border: none; /* Elimina el borde alrededor del iframe */
}

.texto1, .btn-1 {
    flex: 1;
    margin: 10px; /* Espacio alrededor del texto */
    text-align: left;
    margin-left: 4rem;
}

.texto1 h1 {
    font-size: 2rem; /* Ajusta el tamaño del título */
    margin-bottom: 20px; /* Añade espacio debajo del título */
}

.texto1 a.btn-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #033e63;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.vista_servicios {
    display: flex;
    flex-direction: column; /* Ordena los elementos en columna */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center; /* Centra los elementos horizontalmente */
    text-align: center; /* Centra el texto */
    row-gap: 20px; /* Añade un espacio entre las filas (elementos) */
    padding: 20px;
}

.icono {
    color: #033e63; /* Color común para todos los íconos */
    font-size: 4rem; /* Tamaño común para todos los íconos */
    margin-bottom: 10px; /* Espacio debajo del ícono */
}


/*ESTILOS NOSOTROS*/

.contenedor_nosotros {
    max-width: 20000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-bottom: 50px;
    gap: 10px;
}

.texto2 {
    text-align: justify;
    width: 100vh;
}

.titulo_clientes{
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

.clientes {
    max-width: 100%;
    /*width: 80%;*/
    display:inline-block;
    align-content: center;
    padding-right: 100px;
}

.carousel-item{
    align-items: center;
    max-width: 100%;
}



/*ESTILO CONVERSEMOS*/

.titulo_conversemos {
    text-align: center; 
    width: 100%; 
    font-size: 35px; 
    color: #033e63; 
    margin-bottom: 3rem; 
    display: block; 
    padding-top: 50px;
}

/* Ajustes de la imagen */
.main_conversemos-picture{
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    padding-top: 100px;
}

/* Contenedor para el formulario y la información de contacto */
.contact-section {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px; 
    flex-wrap: wrap; 
}

/* Mantén los ajustes del formulario que ya tienes */
form {
    padding: 30px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 45%; 
    background-color: #fff; 
}

/* Mantén los estilos de los campos de entrada y textarea */
input, textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #abdecb;
    border: 1px solid #abdecb;
    color: #033e63;
    outline: none;
}

textarea {
    height: 120px; 
}

/* Estilos para los íconos e información de contacto */
.contact-info {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 45%; 
    text-align: left; 
    padding-left: 20px; 
}

.info-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.info-item img {
    width: 40px;
    margin-right: 15px; 
}

/* Título secundario */
.titulo-secundario {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px; /* Separación del contenido anterior */
    color: #033e63;
}

/* Descripción */
.descripcion {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #666;
}

/* Botón de contacto */
.btn_contact {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #033e63;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_contact:hover {
    background-color: #005a85; 
}

/* Estilos para los íconos e información de contacto */
.contact-info {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    width: 45%; 
    text-align: left; 
    padding-left: 20px; 
}

/* Estilo de los íconos y texto de información */
.info-item {
    display: flex;
    align-items: center; 
    margin-bottom: 20px; 
}

.info-item img {
    width: 40px; 
    margin-right: 15px; 
}


/* Título secundario */
.titulo-secundario {
    text-align: center;
    font-size: 2rem;
    margin-top: 50px; /* Separación del contenido anterior */
    color: #033e63;
}

/* Descripción */
.descripcion {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1.2rem;
    color: #666;
    padding-bottom: 50px;
}

/* Botón de contacto */
.btn_contact {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    background-color: #033e63;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn_contact:hover {
    background-color: #005a85; /* Color más oscuro al pasar el mouse */
}
/*SOLUCIONES*/

.main_soluciones-picture {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    padding-top: 100px;
}

.contenedor_soluciones {
    display: inline-block;

}

/*ISOLEGAL*/


/*Estilos Footer*/
#footer {
    max-width: 100%;
    height: auto; 
    background-color: rgb(207, 213, 231);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*footer logo*/
.footer-logo img {
    width: 250px;
    margin-left: 15%;
    top: 10px;
}

/*footer links*/
.footer-links ul li {
    display: block;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.footer-links-ul{
    padding: 0;
}
.footer-links-ul li{
    display: block;
}

.footer-links-autor h3 {
    font-size: medium;

}
.footer__links-autor h4 {
    font-size: small;
}

.footer-redes img { 
    width: 40px;
    padding-right: 10px;
    text-align: left;
}


/* Media Queries */


@media (max-width: 575.98px) {
    #main {
        width: 100%;
        margin-top: 10px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
        z-index: 10;
    }

    .main_banner {
        padding-top: 50px; /* Reducir el padding-top para pantallas más pequeñas */
    }

    .main_banner img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
    }

    .tituloprincipal {
        display: block; 
        margin-bottom: 1.5rem; 
        text-align: center; 
    }

    .contenedor {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        text-align: center;
        width: 100%; 
        height: auto; 
        margin-bottom: 1.5rem; 
    }

    .contenedor > * {
        margin-bottom: 20px; 
        width: 90%; 
    }

    .contenedor2 {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        text-align: center;
        width: 100%; 
        padding: 40px 0; 
    }

    .video_presentacion {
        margin: 10px 0; 
        max-width: 100%; 
        width: 100%; 
    } 

    .video_presentacion iframe {
        width: 100%; 
        height: auto; 
        aspect-ratio: 16/9; 
    }

    .texto1, .btn-1 {
        margin: 10px 0; 
        text-align: center; 
        width: 90%; 
    }

    .texto1 h1 {
        font-size: 1.5rem;
        margin-bottom: 15px; 
    }

    .texto1 a.btn-1 {
        display: inline-block;
        padding: 8px 16px; 
        font-size: 0.9rem; 
    }

    .vista_servicios {
        display: flex;
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
        row-gap: 15px; 
        padding: 10px; 
        width: 100%;
    }

    .icono {
        font-size: 3rem; 
        margin-bottom: 5px; 
    }

    .contenedor_nosotros {
        max-width: 100%;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        padding-top: 90px; 
        padding-left: 0;
        padding-bottom: 30px; 
        gap: 20px; 
    }

    .contenedor_nosotros img {
        width: 300px; 
        height: auto; 
        max-height: 300px; 
        margin: 0 auto; 
    }

    .texto2 {
        text-align:justify;
        width: 70%; 
        margin-bottom: 20px;
        margin: 0 auto;
    }

    .titulo_clientes {
        display: flex;
        justify-content: center;
        padding-bottom: 20px; 
        text-align: center; 
        width: 90%; 
    }

    .clientes {
        max-width: 90%; 
        display: block; 
        padding-right: 0; 
        padding-bottom: 20px; 
        margin: 0 auto; 
    }

    .carousel-item {
        align-items: center;
        max-width: 90%; 
        margin: 0 auto; 
    }

    #footer {
        max-width: 100%;
        height: auto; 
        background-color: rgb(207, 213, 231);
        color: white;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center; 
        padding: 20px; 
    }

    /* footer logo */
    .footer-logo img {
        width: 150px; 
        margin-left: 0; 
        margin-bottom: 10px; 
    }

    /* footer links */
    .footer-links ul li {
        display: block;
        text-align: center; 
        margin-bottom: 10px; 
    }

    .footer-links-ul {
        padding: 0;
    }

    .footer-links-ul li {
        display: block;
        margin-bottom: 10px; 
    }

    .footer-links-autor h3 {
        font-size: small; 
    }

    .footer__links-autor h4 {
        font-size: x-small; 
    }

    /* footer redes */
    .footer-redes img { 
        width: 30px; 
        padding-right: 5px; 
        margin-bottom: 10px; 
        text-align: center; 
    }
}



/* SMALL - PARA PANTALLAS ENTRE 576px y 767px */
@media (min-width: 576px) and (max-width: 767px) {
    #main {
        width: 100%;
        margin-top: 10px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
    }
    
    .main_banner {
        padding-top: 80px;
        padding-left: 0; 
        padding-right: 0; 
    }
    
    .main_banner img {
        width: 100%; 
        max-width: 100%; 
        height: auto; 
        margin: 0; 
        display: block;
    }
    .tituloprincipal {
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-bottom: 2rem; 
        text-align: center; 
        flex-direction: column; 
    }
    
    .contenedor {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        text-align: center;
        width: 100%; 
        height: auto; 
        margin-bottom: 2rem; 
    }
    
    .contenedor2 {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        width: 100%; 
        padding: 40px 20px; 
    }
    
    .video_presentacion {
        flex: none;
        margin: 10px 0; 
        width: 100%; 
        max-width: 100%; 
    }
    
    .video_presentacion iframe {
        width: 100%; 
        height: auto; 
        min-height: 315px; 
    }
    
    .texto1, .btn-1 {
        margin: 10px auto; 
        text-align: center; 
        width: 90%; 
        margin-left: 0; 
    }
    
    .texto1 h1 {
        font-size: 1.75rem; 
        margin-bottom: 15px; 
    }
    
    .texto1 a.btn-1 {
        display: inline-block;
        padding: 8px 16px; 
        font-size: 1rem; 
    }
    
    .vista_servicios {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        text-align: center;
        row-gap: 15px; 
        padding: 15px;
    }
    
    .icono {
        font-size: 3.5rem; 
        margin-bottom: 10px;
        } 

    .contenedor_nosotros {
        max-width: 100%; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        padding-top: 50px; 
        padding-left: 20px; 
        padding-right: 20px; 
        padding-bottom: 30px; 
        gap: 20px; 
    }
    
    .texto2 {
        text-align: justify;
        width: 90%; 
        margin-bottom: 20px; 
        margin: 0 auto; 
    }
    
    .titulo_clientes {
        display: flex;
        justify-content: center;
        padding-bottom: 20px; 
        text-align: center; 
        width: 90%; 
    }
    
    .clientes {
        max-width: 100%; 
        display: block; 
        padding-right: 0; 
        margin: 0 auto; 
        padding-bottom: 20px; 
    }
    
    .carousel-item {
        align-items: center;
        max-width: 100%; 
        margin: 0 auto; 
    }

    #footer {
        max-width: 100%;
        height: auto; 
        background-color: rgb(207, 213, 231);
        color: white;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
        padding: 20px; 
    }

    /* footer logo */
    .footer-logo img {
        width: 180px; 
        margin-left: 0; 
        margin-bottom: 10px; 
    }

    /* footer links */
    .footer-links ul {
        padding: 0;
        margin: 0;
        list-style: none; 
    }

    .footer-links ul li {
        display: block;
        margin-bottom: 10px; 
        text-align: center; 
    }

    .footer-links-ul {
        padding: 0;
    }

    .footer-links-ul li {
        display: block;
        margin-bottom: 10px; 
    }

    /* Ajustes de texto de footer */
    .footer-links-autor h3 {
        font-size: small; 
    }

    .footer__links-autor h4 {
        font-size: x-small; 
    }

    /* footer redes sociales */
    .footer-redes img { 
        width: 30px; 
        padding-right: 5px; 
        margin-bottom: 10px; 
        text-align: center; 
    }
}




  /*MEDIUM  PARA PANTALLAS IGUALES O MAYORES A 768px */
    @media (min-width: 768px) {

    }
    
  /*LARGE PARA PANTALLAS IGUALES O MAYORES A  992px */
    @media (min-width: 992px) {

    }
    
  /* EXTRA LARGE PARA PANTALLAS IGUALES O MAYORES A 1200px */
    @media (min-width: 1200px) {

    }
    
  /* XXL PARA PANTALLAS IGUALES O MAYORES A 1400px */
    @media (min-width: 1400px) {

    }

